@charset "UTF-8";
/* Mobile CSS Document */

/* 2. 2 Column Grid 320px - 479px 
----------------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 479px) {
	.row {
		
	}
	.span_1, .span_2 {
		margin-left:2%;
		
		padding:0 1.5%;
	}
	
	.span_1:first-child, .span_2:first-child, .span_first_child {
		margin-left:0;
	}
	
	.span_1 {
		width:49.0%;
	}
	.span_2 {
		width:100%;
	}
} /* // min_width: 320px */ 



/* 3. 3 Column Grid 480px - 719px 
----------------------------------------------------------------------------- */

@media screen and (min-width: 480px) and (max-width: 719px) {
	.row {
		
	}
	.span_1, .span_2, .span_3 {
		margin-left:2%;
		
		padding:0 1.5%;
	}
	
	.span_1:first-child, .span_2:first-child, .span_3:first-child, .span_first_child {
		margin-left:0;
	}
	
	.span_1 {
		width:32.0%;
	}
	.span_2 {
		width:66.0%;
	}
	.span_3 {
		width:100%;
	}
} /* // min_width: 480px */ 
