@charset "UTF-8";
/* Base */

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/*
 * HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }



/* =============================================================================
   Forms
   ========================================================================== */

label { cursor: pointer; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/* =============================================================================
   Let's start it
   ========================================================================== */

body { 
  font: 13px 'Helvetica Neue', Arial, sans-serif;
  background: #FDFAF8;
  color: #333;
  line-height: 1.6em;
}

a {
  color: #25C;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #D31;
}

a:active {
  background: hsla( 0, 100%, 100%, 0.5 );
}

p { margin-top: 0; }

h1, h2 {
  font-weight: 100;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
}

h3, p, ul, ol, pre, dl {
  margin-bottom: 1.0em;
}

strong { font-weight: bold; }




/*
/ Site Styles 
*/
header {background: #000; width: 100%; position: relative; padding: 5px 0;}


h1 a {
	display: block;
	background: url('../images/logo-test.png') no-repeat 0 0 #333;
	height: 100px;
	margin: 0 10px;
	width: 320px;
}
	
h1 a:hover,
h1 a:active {
}

article {background: #fff; border: solid 2px #CCC; border-radius: 5px; box-shadow: 0 3px 10px #000; float: left; margin: 2%; padding: 10px; width: 25%; max-width: 300px;}

article a {transition: opacity 0.25s ease-in; -webkit-transition: opacity 0.25s ease-in; -moz-transition: opacity 0.25s ease-in;}
	
	

article a:hover,
article a:focus {
opacity: .75;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);}
	
img {border: 1px solid #ccc; border-radius: 5px; width: 100%; display: block; max-width: 100%;}


footer p {
	margin: 10px;
}


/* Results Page */
#results-container { position: relative; margin: 0;}

article.box.graph, article.box2.graph {
    float: left;
    margin: 2%;
    max-width: 90%;
    width: 100%;
}

article .highcharts-container {width: 600px;}


#pulled-data {margin: 10px;}
#pulled-data li {padding: 0 0 0 40px; margin: 0; list-style: none;}

#badges {margin: 10px; list-style: none; padding: 0 0 0 40px; font-weight: 600;}

header {position: relative;}
header form.find {position: absolute; right: 10px; top: 10px;}
header form.find input {border-radius: 5px; padding: 8px 15px; color: #666;}
header form.find input:focus {box-shadow: 0 1px 3px #CCC;}
header form.find button {background: #f00;border: none; border-right: 3px solid #720903; border-bottom: 3px solid #720903 ; border-radius: 5px; color: #fff; font-size: 18px; font-weight: 600; text-shadow: 0 1px 1px #000; padding: 5px; transition: background 0.25s ease-in; -webkit-transition: background 0.25s ease-in; -moz-transition: background 0.25s ease-in;}
header form.find button:hover {background: #A60000; text-shadow: none;}




/*
 * Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
 */


/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (min-width: 800px) {
  /* Styles */
}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

